/* Global */

@font-face {
    font-family: 'bauerbodni_btitalic';
    src: url('../fonts/bauerbit.eot');
    src: url('../fonts/bauerbit.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bauerbit.woff') format('woff'),
         url('../fonts/bauerbit.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirRoman';
    src: url('../fonts/avenir_roman.eot');
    src: url('../fonts/avenir_roman.eot?#iefix') format('embedded-opentype'),
         url('../fonts/avenir_roman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirBold';
    src: url('../fonts/avenir_bold.eot');
    src: url('../fonts/avenir_bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/avenir_bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

b {
	font-weight: bold;
	font-family: 'AvenirBold', Arial;	
}

h1 {
	font-family: 'bauerbodni_btitalic', times;
	font-weight: normal;
	font-style: italic;
	display: block;
	border-bottom: 1px solid #000;
	text-transform: uppercase;
	cursor: default;
}

h2 {
	font-family: 'bauerbodni_btitalic', times;
	font-style: italic;
	color: #6633CC;
	line-height: 35px;
	margin: 0px;
	text-transform: uppercase;
	cursor: default;
}

h3 {
	font-family: 'bauerbodni_btitalic', times;
	font-style: italic;
	color: #6633CC;
	margin: 0px;
	text-transform: uppercase;
	cursor: default;
}

h4{
	color: #000;
	font-size: 14px;	
	font-family: 'AvenirBold', Arial;
	margin: 0px 0 3px 3px;
	text-transform: uppercase;
	cursor: default;
}

h5 {
	font-family: 'AvenirBold', Arial;
	color: #6633CC;
	margin: 0px;
	text-transform: uppercase;
	font-size: 12px;
	cursor: default;
}

h6 {
	font-family: 'bauerbodni_btitalic', times;
	font-style: italic;
	font-size: 20px;
	margin: 0px 0 5px;
	cursor: default;
}


p {
	margin: 0px;	
}

body {
	font-family: 'AvenirRoman', arial;	
	font-size: 13px;
}

input,
textarea {
	border-radius: 0px !important;	
}

label input[type="radio"] {
	margin-right: 10px;
	vertical-align: top;	
}

a:hover, a:focus {
	text-decoration: none;
	cursor: pointer;	
}

.purple {
	color: #6633CC !important;
}

.purple-button {
    background: none repeat scroll 0 0 transparent;
    border: 2px solid #947CC3;
    color: #000000;
    padding: 0px 10px;
    font-size: 10px;
    font-family: 'AvenirBold', Arial;
    text-transform: uppercase;
    float: right;
}

.purple-button:hover {
	background: #947CC3 !important;
	color: #fff !important;
	text-decoration: none;	
}

#dashboard .dropdown-toggle.selected {
	color: #cc99ff;	
}

.hide {
	display: none;	
}

/* Header */
#header {
	font-size: 10px;
	margin: 10px 0 5px;
}

#header a{
	color: #000;
}

#header .invite {
	text-align: right;
	font-family: 'AvenirBold', Arial;	
}

#header .header-left {
	left: 2%;	
	position: absolute;
	top: 10px;
}

#header .header-right {
	position: absolute;
	right: 2%;	
	top: 10px;
}

#header .logo {
	text-align: center;	
}

.header .nav > li.dropdown .dropdown-toggle {
	padding: 0px 20px;	
}

.header .nav .dropdown-menu {
	margin-top: 0px;	
}

.header .navbar-inner {
	padding: 10px 0px;	
}

.navbar .nav > li > .dropdown-menu:after,
.navbar .pull-right > li > .dropdown-menu:before, 
.navbar .nav > li > .dropdown-menu.pull-right:before {
	display: none;	
}

.navbar-inner .container-fluid {
	background: #000;
	margin: 0px 1%;
	padding: 0px;
}

.navbar .nav.pull-right {
	margin: 0px;
	position: relative;	
	width: 100%;
	background: #fff;
}

.navbar .nav.pull-right li.dropdown{
	background: #000;
    display: inline-block;
    float: none;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    width: 25%;
}

.header .nav > li.dropdown .dropdown-toggle{
	border: 1px solid #fff;
	color: #fff;
	font-size: 11px;
	font-family: 'AvenirBold', Arial;
	padding: 0px 10px;
	text-align: center;
}

	.header .nav > li.dropdown .dropdown-toggle.selected{
		color: #cc99ff;
	}

	.header .nav > li.dropdown .dropdown-toggle:hover,
	.dropdown-menu.extended li a:hover,
	ul.page-sidebar-menu > li > a:hover,
	ul.page-sidebar-menu > li:hover > a,
	.email-topic li a:hover  {
		background: #000;
		color: #cc99ff !important;	
		text-decoration: none;
	}
	
	.page-container ul.page-sidebar-menu li ul li a:hover {
		background: #fff !important;
		color: #cc99ff !important;	
	}
	
.dropdown-menu.extended {
	border: 0px !important;	
	width: 100% !important;
}

.dropdown-menu.extended li a,
.dropdown-menu.extended li a:hover {
	background: #000;
	color: #fff;
	font-size: 11px;
	font-family: 'AvenirBold', Arial;
	padding: 2px 10px;	
	text-align: center;
	text-transform:uppercase;
	white-space: normal;
}

.dropdown-menu.extended {
	padding: 0px;	
}

/* */
/* Page Content */
/* */
.page-container {
	margin: 0px 2%;	
}

/* Side Nav */
.page-container .page-sidebar {
	background: #000;
	width: 185px;
	position: absolute;	
}

.page-container ul.page-sidebar-menu li a{
	color: #fff;
	font-size: 10px;
	font-family: 'AvenirBold', Arial;
	padding: 0px 8px;
	text-transform: uppercase;	
	background: #000;
}

.page-container ul.page-sidebar-menu > li.active > a {
	background: #000 !important;
	color: #cc99ff !important;
}

.page-container ul.page-sidebar-menu > li.active ul {
	display: block;
}

.page-container ul.page-sidebar-menu li ul{
	background: #fff;
	margin: 0px;
}

.page-container ul.page-sidebar-menu li ul li a{
	color: #000;
	font-size: 10px;
	padding: 0 0 1px 8px !important;
	text-transform:uppercase;
}

/* Main Content */
#activity-shrink,
#activity-show {
	font-size: 10px;
	margin-top: -20px;
	position: absolute;
	right: 0;
}

	#dashboard #activity-shrink a,
	#dashboard #activity-show a {
		color: #666;
		text-transform: uppercase;
	}
	
		#activity-shrink a span,
		#activity-show a span{
			vertical-align: middle;
		}

#activity-show {
	display: none;	
}
	
#dashboard a {
	color: #6633CC;
	font-family: 'AvenirBold', Arial;
}

#dashboard #activity-snap {
	padding-bottom: 0px;
}

	#dashboard #activity-snap .block.two > div {
		margin-bottom: 10px;
		text-transform: uppercase;
	}
	
		#dashboard #activity-snap .block.two > div a {
			color: #6633CC;
			font-family: 'AvenirBold', Arial;
		}
	
	#dashboard #activity-snap .block.four {
		background: url(../images/stripe.jpg);
		margin: 10px 0px -10px;
		display: block;
		height: 23px;	
	}

		#dashboard #activity-snap .block.four a {
		    background: none repeat scroll 0 0 #FFFFFF;
			color: #6633CC;
			float: right;
			font-family: 'AvenirBold', Arial;
			font-size: 11px;
			margin: 2px 2px 0 0;
			padding: 2px 5px;
			text-transform: uppercase;
		}
	
.page-container .page-content{
	margin-left: 185px;
}

.page-content.no-sidebar {
	margin: 0px;	
}

	.page-content.no-sidebar .container-fluid{
		padding: 0px;	
	}

#dashboard {
	
}

	#dashboard .dash-row {
		margin: 0 0 10px;	
	}

	#dashboard .grey-container {
		background: #e8e8e8;
		padding: 10px 0px;
		line-height: 15px;
	}
	
		#dashboard .grey-container .block {
			display: inline-block;
			vertical-align: top;
		}
		
			#dashboard .grey-container .block .inner {
				padding-left: 10px;
			}
		
			#dashboard .grey-container .block textarea {
				height: 80px;
				width: 94%;
				font-size: 11px;
			}
			
	#dashboard .block {
		display: inline-block;
		vertical-align: top;
	}

	#dashboard .block.one {
		width: 35%;
	}

	#dashboard .block.two {
		width: 49%;
	}

	#dashboard .block.three {
		width: 64%;
	}
		
	#dashboard .block.four {
		margin: 0 0 10px;
		width: 100%;
	}
		
	#dashboard .shadow-container {
		box-shadow: 0px 0px 5px #999;
		width: 94%;
		padding: 10px 2%;
		margin-left: 1%;
	}
	
		#dashboard .shadow-container p{
			margin-top: 5px;
			line-height: 15px;
		}
	
		#dashboard .shadow-container .block.two {
			display: inline-block;
			margin: 3% 0px;
			padding: 0px 3%;
			width: 43%;
		}
	
		#dashboard .shadow-container img {
			max-width: 95%;
		}
	
		#dashboard .shadow-container .block.two:first-child {
			border-right: 1px solid #b3b3b3;
		}
	
		#dashboard .shadow-container .inner p {
			margin: 0 0 10px;
		}
	
	#dashboard .purple-container {
		border: 1px solid #6633CC;	
		margin: 0 1% 10px;
		padding: 2%;
	}
	
		#dashboard .purple-container img{
			max-width: 50%;
			margin: 5px;
		}
		
		#dashboard .purple-container p{
			color: #666;
			font-family: 'AvenirRoman', Arial;
			line-height: 15px;
		}
		
		#dashboard .purple-container div.quote p{
			color: #666;	
			font-family: 'bauerbodni_btitalic', Times;
			font-style: italic;
			font-size: 17px;
			padding: 10px;
			line-height: 28px;
		}
		
		#dashboard .purple-container p.author{
			color: #6633CC;	
			font-size: 11px;
			line-height: 15px;
			text-transform: uppercase;
			padding: 0px 10px 0px;
		}
		
	#dashboard .dashboard-stat {
		margin: 0px;
	}
	
	#dashboard .row-fluid .span6 {
		padding: 0 0 0 10px;	
	}
	
	#dashboard .tips-holder .holder-row{
		display: inline-block;
		vertical-align: top;
		width: 48%;
		padding-left: 1%;			
	}
	
	#dashboard .purple-button {
		float: none;
		margin: 10px 0px;
		display: inline-block;	
		color: #000;
		line-height: 13px;
	}

.email-topic {
	list-style: none;
	margin: 0px;	
}
	.email-topic li{
		background: #000;
		display: inline-block;
		width: 25%;
		vertical-align: top;
	}
		#dashboard .email-topic li a{
			border-right: 1px solid #999999;
			color: #FFFFFF;
			display: block;
			font-family: 'AvenirBold', Arial;
			font-size: 11px;
			text-align: center;
			text-transform: uppercase;
		}

#email-step-one {
		
}

	#email-step-one .block.one{
		margin: 15px 0 0;
		width: 32%;
	}
	
#holiday-type,
#brand-type,
#promo-type {
	display: none;	
}
	
#dashboard #email-step-two {
	padding: 10px 6%;
	position: relative;
	width: 86%;
	height: 210px;
}

#email-step-three {
		
}

	#email-step-three h5{
		color: #000;
		margin-bottom: 10px;
	}

	#email-step-three input,
	#email-step-three textarea{
		color: #000;
		background: #e8e8e8;
		font-size: 10px;
		display: block;
	}

	#email-step-three img{
		margin-left: 7%;
		text-align: center;
		max-height: 100%;
	}

	#email-step-three .block.two{
		height: 195px;
		padding: 0px 2% !important;
		width: 45% !important;
	}

		#email-step-three .block.two a{
			color: #000;
			display: block;
			font-family: 'AvenirBold', Arial;
			font-size: 11px;
			padding: 0px 5px;
			text-transform: uppercase;
		}
	
			#email-step-three .block.two a:hover,
			#email-step-three .block.two a.selected{
				color: #cc99ff;
				text-decoration: none;
			}
		
		#email-step-three .block.two p{
			color: #999;
			font-family: 'bauerbodni_btitalic', Times;
			font-size: 11px;
			font-style: italic;
			padding: 0px 5px;
		}
	
		#email-step-three .block.two .block.two{
			padding: 0px !important;
			width: 48% !important;
		}


/* Footer */
#footer {
	background: url(../images/footer_dots.jpg) repeat-x;
	margin: 10px 2% 0px;
	padding: 18px 0px 30px;	
}

	#footer .footer-top {
		background: #000;
		color: #fff;
		display: block;
		padding: 5px 0px;
		width: 100%;	
	}
	
		#footer .footer-top .stay-connected {
			display: inline-block;
			padding: 0px 0px 0px 10px;	
			width: 300px;
		}
		
			#footer .footer-top .stay-connected label,
			#footer .footer-top .stay-connected input{
				font-size: 10px;
			}
			
			#footer .footer-top .stay-connected label {
				cursor: default;
				font-family: 'AvenirBold', Arial;
				margin: 0px;	
			}
			
			#footer .footer-top .stay-connected input {
				height: 17px;
				margin: 0 0 6px;	
				padding: 0px 17px 0px 0;
				width: 187px;
			}
			
			#footer .footer-top .stay-connected #email-submit {
				background: url(../images/email_submit.jpg);
				border: 0px;
				height: 17px;
				margin-left: -21px;
				width: 17px;
			}
			
			
			
		#footer .footer-top .follow-us {
			float: right;
			margin: 13px 0px;
		}

			#footer .footer-top .follow-us span {
				padding-right: 10px;
			}

	#footer .footer-bottom {
		padding: 0px 10px;
	}

		#footer .footer-bottom ul{
			display: inline-block;
			margin: 0px;
			padding: 15px 0px;
			vertical-align: top;
			
			max-width: 200px;
			width: 25%;
		}
	
			#footer .footer-bottom ul li{
				font-size: 10px;
				line-height: 18px;
				list-style: none;
				text-transform: uppercase;
			}
	
			#footer .footer-bottom ul li.head{
				color: #6633cc;
				font-family: 'AvenirBold', Arial;
			}
	
				#footer .footer-bottom ul li a{
					color: #000;
				}
	
		#footer .footer-bottom ul.footer-copyright{
			float: right;
			width: 150px;
		}
	

#top {
    background: none repeat scroll 0 0 #000000;
    bottom: 100px;
    color: #FFFFFF;
    display: none;
    height: 50px;
    position: fixed;
    right: 0;
    text-align: center;
    width: 50px;
    z-index: 99;
}


@media (min-width: 1000px) {
	.page-container,
	.header,
	#footer {
		width: 1000px;
		margin-left: auto;	
		margin-right: auto;	
		position: relative;
	}
	
	#header .header-left {
		left: 0px;	
	}

	#header .header-right {
		right: 0px;	
	}
	
	.navbar-inner .container-fluid {
		margin: 0px;	
	}
}

@media (max-width: 809px) {
	
	#header .invite {
		text-align: left;
	}
	
	#header > div {
		display: block;
		position: static !important;
		width: 75%;
		margin: 0 auto;
	}
	
	#header .welcome,
	#header .invite {
		text-align: center;
	}
	
	#header .header-left > div{
		display: inline-block;
	}
	
	#header .header-left {
		width: 130px;
		line-height: 12px;	
	}
	
	#header > div.logo {
		display: block;
		margin: 10px auto;
		position: relative !important;
	}
	
	.header .nav > li.dropdown .dropdown-toggle {
		height: 43px;	
	}
	
	.page-container .page-sidebar {
		display: none;	
	}
	
	.page-container .page-content {
		margin: 0px;	
	}

	.page-container .page-content .container-fluid {
		padding: 0px;	
	}
	
	#dashboard .grey-container .block.three {
		width: 100%;	
	}
	
	#dashboard .email-topic li a {
		height: 45px;	
	}
	
	#footer .footer-top .follow-us {
		float: none;
		margin-left: 10px;	
	}
	
	#footer .footer-bottom ul {
		width: auto;
		padding: 10px 0px;	
		width: 100%;
	}
	
	#email-step-three {
		height: 269px;	
	}
	
	.page-container {
		margin-top: 20px !important;	
	}
	
	#email-step-three input, #email-step-three textarea {
		width: 90%;	
	}
}

@media (max-width: 480px) { 
	.header .nav > li.dropdown .dropdown-toggle,
	#dashboard .email-topic li a {
		font-size: 8px;
	}
}



