@font-face {
    font-family: 'bauerbodni_btitalic';
    src: url('bauerbit-webfont.eot');
    src: url('bauerbit-webfont.eot?#iefix') format('embedded-opentype'),
         url('bauerbit-webfont.woff') format('woff'),
         url('bauerbit-webfont.ttf') format('truetype'),
         url('bauerbit-webfont.svg#bauerbodni_btitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

